.offer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.offer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.offer-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.offer-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.offer-item p {
  margin: 0;
  margin-bottom: 10px;
}

.offer-item button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.offer-item:hover button {
  opacity: 1;
}

@media (max-width: 768px) {
  .offer-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.offer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .offer-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.offer-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.offer-item button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.offer-item:hover button {
  opacity: 1;
}
.offer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.card {
  background-color: #d5cffa;
  /* Ajoutez ici d'autres styles de mise en page pour la carte */
}
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-controls-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
