.table-wrapper {
  position: relative;
  overflow: hidden;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  background-color: #fff;
}

.table-wrapper table thead th {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.table-wrapper table tbody th,
.table-wrapper table tbody td {
  padding: 12px;
  font-size: 14px;
  color: #666;
  border: 1px solid #ddd;
}

.table-wrapper table tbody tr:hover {
  background-color: #f2f2f2;
}

.table-wrapper.zoomed table tbody th,
.table-wrapper.zoomed table tbody td {
  font-size: 18px;
}

.table-wrapper.zoomed table tbody tr:hover {
  background-color: #e8e8e8;
}
#amortization-table {
  margin-left: +4.4cm;
}
